html,body,ul,li{
	padding: 0;
	border:0;
	margin: 0;
}
#container{
	
	width: 600px;
	height: 500px;
	margin: 0 auto;
	margin-top:50px;
	border:2px solid green;
	border-radius: 5px;
}
#sort-rectange{
	
	width: 600px;
	height: 400px;
	border-bottom: 2px solid green;
}
#sort-rectange ul{
	height: 403px;
	display: flex;
	justify-content: space-between;  /*平均横向排列*/
	align-items: flex-end;/*对齐方式*/
}
#sort-rectange ul li{
	list-style: none;
	background-color: blue;
}
#input-item{
	text-align: center;
	margin-top: 30px;
}